/* **** FONTS **** */

html,
body {
	height: 100%;
}

body {
	background: transparent none;

	text-rendering: optimizeLegibility;
	font-family: "Open Sans", sans-serif;
	color: #333;
}

/* Container */

body>.container {
	min-height: 100%;

	font-size: 13pt;
	line-height: 1.5;
}

.container {
	padding-left: 24px;
	padding-right: 24px;
}

.masthead .container {
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 992px) {
	.container {
		width: 870px;
	}
}

/* a:active {
	text-decoration: underline;
} */

h1>a,
h1>a:hover,
h2>a,
h2>a:hover,
h3>a,
h3>a:hover,
h4>a,
h4>a:hover,
h5>a,
h5>a:hover {
	text-decoration: none;
}

a,
a:hover {
	color: #f80;
}

h2 {
	margin: 0 0 20px 0;
}

h3.section {
	margin: 40px 0 10px 0;
}

h4.section {
	margin: 20px 0 10px 0;
}

h5 span.date,
h5 span.author {
	color: #f80;
}

/* h5 span.author {
	color: #333;
} */

.separator {
	width: 70%;
	border-bottom: 1px solid #cccccc;
	opacity: 0.4;
	margin: 40px auto;
	clear: both;
}

/* **** FOOTER **** */

.footer {
	margin-top: 80px;
}

.footer .separator {
	margin-top: 0;
	margin-bottom: 10px;
}

.footer p {
	font-size: 70%;
	text-align: center;
}

/* **** NAVIGATION **** */

nav>a.nav-item {
	display: inline-block;
	padding: 10px 14px;

	font-size: 13pt;
}

@media (max-width: 480px) {
	nav>a.nav-item {
		font-size: 11pt;
	}
}

@media (max-width: 320px) {
	nav>a.nav-item {
		font-size: 11pt;
		padding-left: 4px;
		padding-right: 4px;
	}
}

/* **** POSTS **** */

.meetup p {
	margin: 0 0 14pt;
}

.meetup blockquote>p {
	font-style: italic;
}

.meetup p img {
	width: 100%;
}

/* **** LIGHT/DARK MODE **** */

@media (prefers-color-scheme: dark) {

	/* Dark theme styles go here */
	body {
		background-color: #000;
		color: #ccc;
	}

	h1>a,
	h1>a:hover,
	h2>a,
	h2>a:hover,
	h3>a,
	h3>a:hover,
	h4>a,
	h4>a:hover,
	h5>a,
	h5>a:hover {
		color: #ccc;
	}

	a {
		color: #f80;
	}

	.skin-border,
	.separator {
		border-color: #f80;
	}
}

@media (prefers-color-scheme: light) {

	/* Light theme styles go here */
	body {
		background-color: #fff;
		color: #333;
	}

	h1>a,
	h1>a:hover,
	h2>a,
	h2>a:hover,
	h3>a,
	h3>a:hover,
	h4>a,
	h4>a:hover,
	h5>a,
	h5>a:hover {
		color: #333;
	}

	.skin-border,
	.separator {
		border-color: #f80;
	}

}

/* **** Home page **** */

.cross-line {
	margin-bottom: 40px;
}

/* **** Sections **** */

.section .item-title {
	font-style: italic;
	margin-right: 6px;
}

.section .item-title:after {
	content: ":";
}

/* **** Code **** */

pre {
	padding: 8px 10px 10px 10px;
	margin: 20px 0;
	overflow: scroll;

	font-size: 11pt;
}

pre.bespoke-code {
	background-color: #2b303b;
	color: #c0c5ce;
}

p code {
	font-size: 90%;
}

/* **** Bootstrap replacement **** */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;

	font-size: 14px;
	line-height: 1.42857143;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 32px;
	margin-bottom: 18px;

	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 14px;
	margin-top: .48em;
}

p {
	margin: 0 0 10px;
}

a {
	outline: 0;
}